.navbar {
  font-weight: 900;
  border-bottom: 1px dotted #737372;
}

.infohead {
  margin: 1em 0em 1em 0em;
}

.marginbottom p {
  margin-bottom: 1em;
}

.container {
  margin:0;
}

.info {
  height: 85vh;
  overflow-x: auto;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'avenir';
  font-weight: 300;
  color: #3d3d3d;
  font-size: 0.8em;
}

.logo img {
  max-width: 100px;
  position:relative;
}

header {
  width: 80%;
  margin: 10px auto;
}

section {
  margin: 0px 2em 0em 2em;
}
footer {
  /* width: 80%; */
  border-top: 1px dotted black;
  padding-top:0.5em;
}

footer a

h1 {
  font-weight: 900;
  font-size: 4em;
  font-family: 'avenir';
  letter-spacing: -.02em;
  margin: 5px 0;
  text-align: center;
  /* text-shadow: 2px 2px 2px #43a2ca; */

}

h2 {
  font-weight: 300;
  /* color: #63666a; */
  font-size: 2em;
  letter-spacing: .02em;
  font-style: normal;
  margin: 5px 0;
  /* text-shadow: 2px 2px 3px #43a2ca; */
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 5px;
}

h4 {
  font-weight: 150;
  font-size: 1.5em;
  margin: 0;
  font-family: 'avenir';
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-bottom: 0.1px;
  font-family: 'avenir';
}

a {
  color: #004A8B;
  font-weight: 400;
  text-decoration: none;
  font-family: 'avenir';
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0px 20px 4px 20px;
  font-size: 1.1em;
  line-height: 1.2em;
  color: #63666a;
}

li {
  margin: 10px 0
}

hr {
  margin: 20px 0;
  border: 0px dotted black;
  height: 1px;
  background: #63666a;
}

.linkbox {
  margin: 3px 0 20px 0;
  display: block;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.3em;
  text-align: center;
  font-style: italic;
}

#map {
  width: 100%;
  height: 85vh;
  /* margin: 20px auto; */
}

.max-image-width {
  width: 100%;
}

/* Use float property to make two-column layout */
.first-column {
  float: left;
  width: 49%;
  padding-right: 2%;
}

.column {
  float: left;
  width: 49%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: block;
  clear: both;
}

.legend {
  padding: 6px 8px;
  font-size: 1em;
  font-family: 'avenir';
  /* Use transparency to blend elements. */
  border: 2px solid rgba(244, 244, 244, 0.2);
  background: rgba(100, 100, 100, 0.9);
  color: rgba(244, 244, 244, 0.8);
  border-radius: 5px;
  /* max-width: 250px;
  margin-left: 1em; */
}

.legend h3 {
  font-size: 1.1em;
  font-weight: normal;
  color: #ddd;
  margin: 0 0 10px 0;
}

.legend span {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 4px 0;
}

.legend label {
  font-size: 1.1em;
}

.legend label:after {
  content: '';
  display: block;
  clear: both;
}

/* Leaflet popup styles */
.leaflet-tooltip {
  font-size: 1em;
  font-family: 'avenir';
  padding: 5px 8px;
}

.leaflet-tooltip ul {
  font-family: 'avenir';
  padding: 0px 20px;
  margin: 0px;
  line-height: 1.0em;
  color: #333;
}

.leaflet-tooltip li {
  margin: 4px 0
}

/* When browser is 900px wide or less */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }

  .first-column,
  .column {
    width: 100%;
  }
}